html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.home  {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100%;
}

.my-div{
	overflow: scroll;
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: auto;
}

.home  {
	background-color: #ffffff;
	height: 5639px;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 1440px;
}
.home .overlap  {
	height: 633px;
	left: -288px;
	position: absolute;
	top: 3875px;
	width: 1440px;
}
.home .group  {
	height: 271px;
	left: 1530px;
	position: absolute;
	top: 78px;
	width: 294px;
}
.home .text-wrapper  {
	color: #ad9f9f;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 44px;
	font-weight: 400;
	left: 984px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
	width: 145px;
}
.home .line  {
	height: 1px;
	left: 0;
	position: absolute;
	top: 540px;
	width: 1145px;
}
.home .rectangle-2  {
	background-color: #016c64;
	height: 555px;
	left: 246px;
	position: absolute;
	top: 78px;
	transform: rotate(180deg);
	width: 959px;
}
.home .whippletree-winery  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 24px;
	font-weight: 400;
	left: 502px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 346px;
	width: 569px;
}
.home .frame  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 702px;
	padding: 8px;
	position: absolute;
	top: 438px;
}
.home .shop-now-button  {
	align-items: center;
	background-color: #daab63;
	display: flex;
	gap: 10px;
	height: 50px;
	justify-content: center;
	padding: 8px 10px 10px;
	position: relative;
	width: 153px;
}
.home .text-wrapper-2  {
	color: #553d06;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	position: relative;
	text-align: center;
	width: fit-content;
}
.home .img  {
	height: 148px;
	left: 730px;
	position: absolute;
	top: 164px;
	width: 133px;
}
.home .line-2  {
	height: 1px;
	left: 93px;
	position: absolute;
	top: 594px;
	width: 1145px;
}
.home .rectangle-3  {
	background-color: #f5f5f5;
	height: 102px;
	left: 1571px;
	position: absolute;
	top: 160px;
	width: 106px;
}
.home .rectangle-4  {
	height: 340px;
	left: 1180px;
	object-fit: cover;
	position: absolute;
	top: 125px;
	width: 377px;
}
.home .rectangle-5  {
	height: 173px;
	left: 1205px;
	object-fit: cover;
	position: absolute;
	top: 405px;
	width: 272px;
}
.home .rectangle-6  {
	height: 177px;
	left: 1212px;
	object-fit: cover;
	position: absolute;
	top: 414px;
	width: 261px;
}
.home .rectangle-7  {
	height: 363px;
	left: 1474px;
	object-fit: cover;
	position: absolute;
	top: 247px;
	width: 242px;
}

.constrain-images{
	max-width: 100px;
}

.home .overlap-group  {
	height: 587px;
	left: -40px;
	position: absolute;
	top: 1611px;
	width: 1440px;
}
.home .group-2  {
	height: 487px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1036px;
}
.home .rectangle-8  {
	background-color: #016c64;
	height: 582px;
	left: 50%;
	position: absolute;
	top: 4px;
	width: 50%;
}
.home .p  {
	color: #ffffff;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 44px;
	font-weight: 400;
	height: 80px;
	left: 959px;
	letter-spacing: 0;
	line-height: 48.4px;
	position: absolute;
	top: 113px;
	width: 395px;
}
.home .text-wrapper-3  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 20px;
	font-weight: 400;
	height: 395px;
	left: 959px;
	letter-spacing: 0;
	line-height: 31.4px;
	position: absolute;
	top: 224px;
	width: 395px;
}
.home .shop-now-button-wrapper  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 951px;
	padding: 8px;
	position: absolute;
	top: 430px;
}
.home .image  {
	height: 420px;
	left: 414px;
	object-fit: cover;
	position: absolute;
	top: 101px;
	width: 448px;
}
.home .layer  {
	height: 205px;
	left: 80%;
	position: absolute;
	top: 373px;
	width: 72px;
}
.home .layer-2  {
	height: 407px;
	left: 90%;
	position: absolute;
	top: 180px;
	width: 143px;
}
.home .line-3  {
	height: 1px;
	left: 669px;
	position: absolute;
	top: 564px;
	width: 1145px;
}
.home .overlap-2  {
	height: 1045px;
	left: 0px;
	position: absolute;
	top: 4594px;
	width: 1440px;
}
.home .rectangle-9  {
	height: 519px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}
.home .overlap-wrapper  {
	height: 378px;
	left: 276px;
	position: absolute;
	top: 78px;
	width: 976px;
}
.home .overlap-3  {
	height: 378px;
	position: relative;
	width: 974px;
}
.home .rectangle-10  {
	background-color: #bb832f;
	height: 351px;
	left: 0;
	position: absolute;
	top: 27px;
	width: 974px;
}
.home .frame-wrapper  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 412px;
	padding: 8px;
	position: absolute;
	top: 255px;
}
.home .contact-us-wrapper  {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	gap: 8px;
	height: 54.74px;
	justify-content: center;
	padding: 15px 28px 15px 23px;
	position: relative;
	width: 162px;
}
.home .contact-us  {
	color: #020202;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
	line-height: normal;
	margin-top: -0.13px;
	position: relative;
	text-align: center;
	width: fit-content;
}
.home .text-wrapper-4  {
	color: #ffffff;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 40px;
	font-weight: 400;
	left: 414px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 69px;
	width: 468px;
}
.home .rectangle-11  {
	height: 330px;
	left: 39px;
	position: absolute;
	top: 0;
	width: 290px;
}
.home .rectangle-12  {
	background-color: #082d2a;
	height: 536px;
	left: 0px;
	mix-blend-mode: multiply;
	opacity: 0.9;
	position: absolute;
	top: 509px;
	width: 100%;
}
.home .text-wrapper-5  {
	color: #ffffff;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 24px;
	font-weight: 400;
	left: 194px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 612px;
	width: 364px;
}

.home .span  {
	color: #ffffff;
	font-family: var(--body-text-font-family);
	font-size: var(--body-text-font-size);
	font-style: var(--body-text-font-style);
	font-weight: var(--body-text-font-weight);
	letter-spacing: var(--body-text-letter-spacing);
	line-height: var(--body-text-line-height);
}
.home .text-wrapper-6  {
	font-family: var(--body-text-font-family);
	font-size: var(--body-text-font-size);
	font-style: var(--body-text-font-style);
	font-weight: var(--body-text-font-weight);
	letter-spacing: var(--body-text-letter-spacing);
	line-height: var(--body-text-line-height);
}
.home .text-wrapper-7  {
	color: #ffffff;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 24px;
	font-weight: 400;
	left: 492px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 0;
}

.home .line-4  {
	height: 1px;
	left: 140px;
	position: absolute;
	top: 568px;
	width: 1242px;
}
.home .element-info  {
	color: #fffafa;
	font-family: "Playfair Display", Helvetica;
	font-size: 24px;
	font-weight: 400;
	left: 196px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 600px;
	width: 364px;
}
.home .text-wrapper-8  {
	color: #ffffff;
	font-weight: 500;
}
.home .text-wrapper-9  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 16px;
}
.home .text-wrapper-10  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	text-decoration: underline;
}
.home .text-wrapper-11  {
	color: #cecece;
	font-family: "Poppins", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 466px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 980px;
	width: 592px;
}
.home .whippletree-winery-2  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 201px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 859px;
	width: 184px;
}
.home .text-wrapper-12  {
	color: #ffffff;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 24px;
	font-weight: 400;
	left: 1107px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 614px;
	width: 68px;
}
.home .friday-sunday  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 1109px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 656px;
	width: 311px;
}
.home .div-wrapper  {
	height: 53px;
	left: 1107px;
	position: absolute;
	top: 731px;
	width: 177px;
}
.home .book-an-event-wrapper  {
	align-items: center;
	background-color: #daab63;
	display: inline-flex;
	gap: 8px;
	justify-content: center;
	padding: 15px 23px;
	position: relative;
}

.home .book-an-event a {
	color: #231f20;
}

.home .rectangle-15  {
	background-color: #859189;
	height: 2px;
	left: 1109px;
	position: absolute;
	top: 650px;
	width: 45px;
}

.home .group-3  {
	height: 227px;
	left: 196px;
	position: absolute;
	top: 615px;
	width: 649px;
}

.home .group-4  {
	height: 110px;
	left: 194px;
	position: absolute;
	top: 719px;
	width: 258px;
}
.home .overlap-4  {
	background-color: #f7f1e3e6;
	height: 1524px;
	left: -15px;
	position: absolute;
	top: 2286px;
	width: 1455px;
}
.home .overlap-5  {
	height: 136px;
	left: 340px;
	position: absolute;
	top: 44px;
	width: 809px;
}
.home .text-wrapper-13  {
	color: #50504f;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 44px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: 57.2px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 809px;
}
.home .visit-our-wine  {
	color: #575757;
	font-family: "Jost", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 74px;
	left: 88px;
	letter-spacing: 0;
	line-height: 37.7px;
	position: absolute;
	top: 50px;
	width: 633px;
}
.home .rectangle-16  {
	height: 333px;
	left: 197px;
	object-fit: cover;
	position: absolute;
	top: 191px;
	width: 591px;
}
.home .rectangle-17  {
	height: 267px;
	left: 198px;
	object-fit: cover;
	position: absolute;
	top: 538px;
	width: 286px;
}
.home .rectangle-18  {
	height: 267px;
	left: 500px;
	object-fit: cover;
	position: absolute;
	top: 538px;
	width: 287px;
}
.home .frame-2  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 16px;
	left: 803px;
	position: absolute;
	top: 191px;
}
.home .rectangle-19  {
	height: 245px;
	object-fit: cover;
	position: relative;
	width: 518px;
}
.home .rectangle-20  {
	height: 354px;
	object-fit: cover;
	position: relative;
	width: 518px;
}
.home .rectangle-21  {
	height: 298px;
	left: 585px;
	object-fit: cover;
	position: absolute;
	top: 824px;
	width: 358px;
}
.home .rectangle-22  {
	height: 295px;
	left: 585px;
	object-fit: cover;
	position: absolute;
	top: 1140px;
	width: 736px;
}
.home .rectangle-23  {
	height: 298px;
	left: 962px;
	object-fit: cover;
	position: absolute;
	top: 824px;
	width: 359px;
}
.home .rectangle-24  {
	height: 298px;
	left: 198px;
	object-fit: cover;
	position: absolute;
	top: 824px;
	width: 368px;
}
.home .rectangle-25  {
	height: 295px;
	left: 198px;
	object-fit: cover;
	position: absolute;
	top: 1140px;
	width: 368px;
}



.home .overlap-6  {
	/* background-color: #000000; */
	background-image: url(../../img/image2.png);
	height: 811px;
	left: -40px;
	position: absolute;
	top: 0;
	width: 1480px;
}
.home .rectangle-26  {
	background: linear-gradient(180deg, rgb(5.51, 5.51, 5.51) 11.36%, rgba(9.76, 9.05, 9.05, 0) 100%);
	height: 811px;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.home .ant-design-user  {
	height: 24px;
	left: 1321px;
	position: absolute;
	top: 110px;
	width: 24px;
}
.home .bytesize-location  {
	height: 22px;
	left: 1280px;
	position: absolute;
	top: 111px;
	width: 22px;
}
.home .text-wrapper-14  {
	color: var(--white);
	font-family: "Poppins", Helvetica;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.54px;
	line-height: 21.6px;
	position: relative;
	text-align: center;
	text-decoration: underline;
	white-space: nowrap;
	width: fit-content;
}
.home .text-wrapper-15  {
	color: #ffffff;
	font-family: "Poppins", Helvetica;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.54px;
	line-height: 21.6px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	width: fit-content;
}
.home .text-wrapper-16  {
	color: var(--ffffff);
	font-family: "Open Sans", Helvetica;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 33px;
	margin-top: -1px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	width: fit-content;
}
.home .text  {
	color: #ffffff;
	font-family: "Poppins", Helvetica;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.48px;
	line-height: 19.2px;
	margin-right: -1px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	width: fit-content;
}
.home .line-5  {
	height: 1px;
	left: 197px;
	object-fit: cover;
	position: absolute;
	top: 80px;
	width: 1192px;
}
.home .overlap-group-wrapper  {
	height: 45px;
	left: 188px;
	position: absolute;
	top: 110px;
	width: 167px;
}
.home .overlap-group-2  {
	height: 45px;
	position: relative;
}
.home .frame-3  {
	align-items: center;
	display: inline-flex;
	gap: 41px;
	left: 12px;
	position: absolute;
	top: 10px;
}
.home .text-wrapper-17  {
	color: var(--cultured);
	font-family: "Manrope", Helvetica;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.36px;
	line-height: 14.4px;
	position: relative;
	white-space: nowrap;
	width: fit-content;
}
.home .carbon-search  {
	height: 26px;
	position: relative;
	width: 26px;
}
.home .rectangle-27  {
	border: 1px solid;
	border-color: #d9d9d999;
	height: 45px;
	left: 0;
	position: absolute;
	top: 0;
	width: 167px;
}
.home .text-wrapper-18  {
	color: #ffffff;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 54px;
	font-weight: 400;
	left: 359px;
	letter-spacing: 0;
	line-height: 70.2px;
	position: absolute;
	text-align: center;
	top: 270px;
	width: 830px;
}
.home .order-delicious  {
	color: #ffffff;
	font-family: "Jost", Helvetica;
	font-size: 28px;
	font-weight: 400;
	left: 503px;
	letter-spacing: 0;
	line-height: 37.2px;
	position: absolute;
	top: 430px;
	width: 535px;
}
.home .frame-4  {
	height: 106px;
	left: 666px;
	position: absolute;
	top: 94px;
	width: 262px;
}
.home .text-2  {
	color: #000000;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 615px;
	letter-spacing: 0;
	line-height: 21.3px;
	position: absolute;
	top: 539px;
	white-space: nowrap;
}
.home .frame-5  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 598px;
	position: absolute;
	top: 488px;
}
.home .rectangle-28  {
	height: 50px;
	position: relative;
	width: 166px;
}
.home .visit-OUR-WINERY  {
	color: #000000;
	font-family: "Jost", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 17px;
	letter-spacing: 0;
	line-height: 21.3px;
	position: absolute;
	top: 13px;
	white-space: nowrap;
}
.home .property-variant  {
	left: 783px !important;
	position: absolute !important;
	top: 487px !important;
}
.home .property-1-variant2  {
	margin-bottom: unset !important;
	margin-right: unset !important;
}
.home .image-2  {
	height: 602px;
	left: -75px;
	position: absolute;
	top: -634px;
	width: 1611px;
}
.home .overlap-7  {
	height: 99px;
	left: 187px;
	position: absolute;
	top: 872px;
	width: 1120px;
}
.home .text-wrapper-19  {
	color: #4f4f4f;
	font-family: "ITC Cheltenham Light-Regular", Helvetica;
	font-size: 40px;
	font-weight: 400;
	left: 381px;
	letter-spacing: 0;
	line-height: 52px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 306px;
}
.home .line-6  {
	height: 1px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 66px;
	width: 1120px;
}
.home .rectangle-29  {
	height: 71px;
	left: 187px;
	position: absolute;
	top: 990px;
	width: 71px;
}
.home .rectangle-30  {
	height: 71px;
	left: 187px;
	position: absolute;
	top: 1105px;
	width: 71px;
}
.home .rectangle-31  {
	height: 71px;
	left: 187px;
	position: absolute;
	top: 1220px;
	width: 71px;
}
.home .rectangle-32  {
	height: 71px;
	left: 187px;
	position: absolute;
	top: 1335px;
	width: 71px;
}
.home .rectangle-33  {
	height: 71px;
	left: 581px;
	position: absolute;
	top: 990px;
	width: 71px;
}
.home .rectangle-34  {
	height: 71px;
	left: 581px;
	position: absolute;
	top: 1105px;
	width: 71px;
}
.home .rectangle-35  {
	height: 71px;
	left: 581px;
	position: absolute;
	top: 1220px;
	width: 71px;
}
.home .rectangle-36  {
	height: 71px;
	left: 581px;
	position: absolute;
	top: 1335px;
	width: 71px;
}
.home .rectangle-37  {
	height: 71px;
	left: 975px;
	position: absolute;
	top: 1335px;
	width: 71px;
}
.home .rectangle-38  {
	height: 71px;
	left: 975px;
	position: absolute;
	top: 990px;
	width: 71px;
}
.home .rectangle-39  {
	height: 71px;
	left: 975px;
	position: absolute;
	top: 1105px;
	width: 71px;
}
.home .rectangle-40  {
	height: 71px;
	left: 975px;
	position: absolute;
	top: 1220px;
	width: 71px;
}
.home .frame-6  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 272px;
	position: absolute;
	top: 991px;
}
.home .frame-7  {
	align-items: flex-start;
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: column;
	gap: 4px;
	position: relative;
}
.home .div-2  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	margin-top: -1px;
	position: relative;
	width: fit-content;
}
.home .text-wrapper-20  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
}
.home .text-wrapper-21  {
	font-size: 15px;
}
.home .unoaked-with-a  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: relative;
	width: 248px;
}
.home .frame-8  {
	flex: 0 0 auto;
	position: relative;
}
.home .frame-9  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 272px;
	position: absolute;
	top: 1106px;
}
.home .text-wrapper-22  {
	font-size: 14px;
}
.home .text-wrapper-23  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: relative;
	width: fit-content;
}
.home .frame-10  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 272px;
	position: absolute;
	top: 1221px;
}
.home .text-wrapper-24  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: relative;
	width: 213px;
}
.home .overlap-8  {
	height: 60px;
	left: 272px;
	position: absolute;
	top: 1336px;
	width: 213px;
}
.home .text-wrapper-25  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: absolute;
	top: 24px;
	width: 213px;
}
.home .frame-11  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 0;
	position: absolute;
	top: 0;
}
.home .frame-12  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 666px;
	position: absolute;
	top: 991px;
}
.home .text-wrapper-26  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: relative;
	width: 274px;
}
.home .overlap-9  {
	height: 60px;
	left: 1060px;
	position: absolute;
	top: 991px;
	width: 211px;
}
.home .text-wrapper-27  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: absolute;
	top: 24px;
	width: 211px;
}
.home .frame-13  {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 8px;
	left: 0;
	position: absolute;
	top: 0;
	width: 130px;
}
.home .frame-14  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 666px;
	position: absolute;
	top: 1106px;
}
.home .frame-15  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 666px;
	position: absolute;
	top: 1221px;
}
.home .text-wrapper-28  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: relative;
	width: 232px;
}
.home .frame-16  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 666px;
	position: absolute;
	top: 1336px;
}
.home .frame-17  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 1060px;
	position: absolute;
	top: 1336px;
}
.home .frame-18  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 1060px;
	position: absolute;
	top: 1106px;
}
.home .text-wrapper-29  {
	color: #000000;
	font-family: "DM Sans", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	opacity: 0.5;
	position: relative;
	width: 251px;
}
.home .frame-19  {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 1060px;
	position: absolute;
	top: 1221px;
}
.home .button  {
	all: unset;
	align-items: flex-start;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	left: 613px;
	padding: 8px;
	position: absolute;
	top: 1448px;
}
.home .view-more-wrapper  {
	all: unset;
	align-items: center;
	background-color: #daab63;
	box-sizing: border-box;
	display: flex;
	gap: 10px;
	height: 50px;
	justify-content: center;
	padding: 8px 10px 10px;
	position: relative;
	width: 199px;
}
.home .rectangle-41  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 171px;
	position: absolute;
	top: 1080px;
	width: 360px;
}
.home .rectangle-42  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 171px;
	position: absolute;
	top: 1195px;
	width: 360px;
}
.home .rectangle-43  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 171px;
	position: absolute;
	top: 1310px;
	width: 360px;
}
.home .rectangle-44  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 171px;
	position: absolute;
	top: 1425px;
	width: 360px;
}
.home .rectangle-45  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 565px;
	position: absolute;
	top: 1080px;
	width: 360px;
}
.home .rectangle-46  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 565px;
	position: absolute;
	top: 1195px;
	width: 360px;
}
.home .rectangle-47  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 565px;
	position: absolute;
	top: 1310px;
	width: 360px;
}
.home .rectangle-48  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 565px;
	position: absolute;
	top: 1425px;
	width: 360px;
}
.home .rectangle-49  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 959px;
	position: absolute;
	top: 1425px;
	width: 360px;
}
.home .rectangle-50  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 959px;
	position: absolute;
	top: 1080px;
	width: 360px;
}
.home .rectangle-51  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 959px;
	position: absolute;
	top: 1195px;
	width: 360px;
}
.home .rectangle-52  {
	border: 1px solid;
	border-color: #eaeaea;
	border-radius: 10px;
	height: 1px;
	left: 959px;
	position: absolute;
	top: 1310px;
	width: 360px;
}


